@model BuiNamAnh0031.Models.BNASinhVien

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BNASinhVien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BNASinhVienMaSinhVien" />
            <div class="form-group">
                <label asp-for="BNAHoTen" class="control-label"></label>
                <input asp-for="BNAHoTen" class="form-control" />
                <span asp-validation-for="BNAHoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BNAMaLop" class="control-label"></label>
                <select asp-for="BNAMaLop" class="form-control" asp-items="ViewBag.BNAMaLop"></select>
                <span asp-validation-for="BNAMaLop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
